[submodule "lib/capstone"]
	path = lib/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/catch2"]
	path = lib/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/rang"]
	path = lib/rang
	url = https://github.com/agauniyal/rang.git
[submodule "lib/clara"]
	path = lib/clara
	url = https://github.com/catchorg/Clara.git
